<h2><%= @trip.name %></h2>
<p><%= @trip.address %></p>
<p><%= @trip.starting_date %></p>
<p><%= @trip.ending_date %></p>
<%= cl_image_tag @trip.photo.key if @trip.photo.attached? %>
<%= link_to "Edit trip", edit_trip_path(@trip) %></li>
<%= link_to "Go back to the trips list", trips_path %></li>
<%= link_to "Delete this trip", trip_path(@trip), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'Leave a review', new_trip_review_path(@trip) %>

<ul class="list-group">
  <% @trip.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %>
      <%= link_to "Remove",
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
